<nav class="navigation" id="navigation">
  <div class="logo__container">
    <a routerLink="/" class="logo__link">
      <!-- <img src="assets/img/icon-light.png" alt="" class="logo__img" id="nav-logo"> -->
    </a>

    <span class="logo__text">
      <a routerLink="/" class="logo__text--link">
        IkeHunter Web Development
      </a>
     </span>
  </div>

  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>

  <div class="navigation__container">
    <ul class="navigation__list">
      <li class="navigation__item"><a routerLink="/" class="navigation__link navigation__animation" id="nav-home">Home</a></li>
      <li class="navigation__item"><a routerLink="/" class="navigation__link navigation__animation" id="nav-services">About</a></li>
      <li class="navigation__item"><a routerLink="/" class="navigation__link navigation__animation" id="nav-portfolio">Portfolio</a></li>
      <li class="navigation__item"><a routerLink="/" class="navigation__link navigation__animation" id="nav-contact">Contact</a></li>
    </ul>
  </div>
</nav>


