<nav class="navigation" id="navigation">
  <div class="logo__container">
    <a routerLink="/" class="logo__link">
      <!-- <img src="assets/img/icon-light.png" alt="" class="logo__img" id="nav-logo"> -->
    </a>

    <span class="logo__text">
      <a routerLink="/" class="logo__text--link">
        Isaac Hunter, Web Developer
      </a>
     </span>
  </div>

  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>

  <div class="navigation__container">
    <ul class="navigation__list">
      <li class="navigation__item"><a [routerLink]="['/']" fragment="home" class="navigation__link navigation__animation" id="nav-home" (click)="uncheck()">Home</a></li>
      <li class="navigation__item"><a [routerLink]="['/']" fragment="about" class="navigation__link navigation__animation" id="nav-about" (click)="uncheck()">About</a></li>
      <li class="navigation__item"><a [routerLink]="['/']" fragment="portfolio" class="navigation__link navigation__animation" id="nav-portfolio" (click)="uncheck()">Portfolio</a></li>
      <li class="navigation__item"><a [routerLink]="['/']" fragment="contact" class="navigation__link navigation__animation" id="nav-contact" (click)="uncheck()">Contact</a></li>
    </ul>
  </div>
</nav>


