@import "main";

.section-business {
  // height: 125vh;
  height: 100%;
  background-color: $color-grey;
  color: $color-white;
  padding-bottom: 5rem;
  overflow: hidden;

  @include respond(phone) {
    padding-top: 10rem;
  }
}

.title {
  margin-left: 10rem;

  @include respond(phone) {
    margin: 0;
    text-align: center;
  }

  &__sub {
    display: block;
    font-size: 4rem;
    font-weight: 100;

    @include respond(phone) {
      font-size: 3.5rem;
    }
  }
  &__main {
    display: block;
    font-size: 6.5rem;
    font-weight: 400;

    @include respond(phone) {
      font-size: 5rem;
    }
  }
}

.grid {
  margin-top: 10rem;
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include respond(tab-port) {
    margin-top: 5rem;
  }
}

.box {
  flex: 0 0 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 10rem 5rem;

  @include respond(tab-port) {
    flex: 0 0 100%;
    padding: 5rem 2rem;
  }


  &:hover {
    .box__container--title {
      &::after {
        width: 90%;

      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    flex: 0 0 10%;
    @include respond(tab-port) {
      padding-bottom: 3rem;
    }
    @include respond(phone) {
      flex: 0 0 100%;
      justify-content: center;
    }

    &--icon {
      $ico-size: 8.5rem;

      fill: $color-primary;
      height: $ico-size;
      width: $ico-size;
    }


    // align-self: center;
  }
  &__container {
    padding-left: 5rem;
    flex: 0 0 80%;

    display: flex;
    align-items: flex-start;
    flex-flow: column;

    @include respond(tab-port) {
      padding: 0;
    }

    &--title {
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      font-weight: 700;
      position: relative;

      @include respond(tab-port) {
        text-align: center;
        width: 100%;
      }

      &::after {
        content: "";
        display: block;
        width: 0%;
        border-bottom: 4px solid $color-secondary;
        position: absolute;

        transition: width .5s;
      }

    }

    &--content {
      width: 88%;
      font-size: 2.3rem;
      font-weight: 200;
      margin-top: 1rem;
      line-height: 3rem;

      @include respond(tab-port) {
        width: 100%;
        text-align: center;
      }
    }
  }

}
