<section class="business">
  <h1 class="title section-title">
    <span class="title__sub">We design website, </span>
    <span class="title__main">among other things...</span>
  </h1>
  <div class="grid">
    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-mobile"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Make them mobile friendly</h3>
        <div class="box__container--content">Every good website should be just as beautiful and easy to read on smaller screen sizes as it is on bigger ones. We ensure this with every website we design.</div>
      </div>
    </div>
    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-sphere"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Deploy them to your domain</h3>
        <div class="box__container--content">The domain name is a very important part of a website. We can do all the work involved with deploying the website to the “world wide web” so anyone can access it via your domain.</div>
      </div>
    </div>

    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-network"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Ensure multi browser support</h3>
        <div class="box__container--content">Some browsers handle website styling code differently. When we design websites we ensure the website is just as beautiful across all the major browsers.</div>
      </div>
    </div>
    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-database"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Index them on Google</h3>
        <div class="box__container--content">What’s the good of a website if people cannot find it on their browser? We can ensure the website is indexed and connect it to Google Analytics so you know everything about your online audience.</div>
      </div>
    </div>
  </div>
</section>
