<section class="section-business">
  <h1 class="title section-title">
    <span class="title__sub">We design website, </span>
    <span class="title__main">among other things...</span>
  </h1>
  <div class="grid">
    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-mobile"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Make them mobile friendly</h3>
        <div class="box__container--content">Every good website should be just as beautiful and easy to read on smaller screen sizes as it is on bigger ones. We ensure this with every website we design.</div>
      </div>
    </div>
    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-sphere"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Built for SEO</h3>
        <div class="box__container--content">Every website we build has SEO or Search Engine Optimization in mind. This ensures that after launch the website will perform well with Google’s indexing system.</div>
      </div>
    </div>

    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-network"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Ensure multi browser support</h3>
        <div class="box__container--content">Some browsers handle website styling code differently. When we design websites we ensure the website is just as beautiful across all the major browsers.</div>
      </div>
    </div>
    <div class="box">
      <div class="box__icon">
        <svg class="box__icon--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-database"></use>
        </svg>
      </div>
      <div class="box__container">
        <h3 class="box__container--title">Create Custom CMS</h3>
        <div class="box__container--content">Some businesses need more than just a static website, that is why we offer a way to create/update/delete custom content from an admin dashboard (CMS). This CMS is built from Wordpress and connects to the custom front-end.</div>
      </div>
    </div>
  </div>
</section>
