<section class="business">
  <h1 class="title">
    <span class="title__sub">We design website,</span>
    <span class="title__main">among other things...</span>
  </h1>
  <div class="grid">
    <div class="box">
      <svg class="box__icon">
        <use xlink:href="assets/icons/sprite.svg#icon-mobile"></use>
      </svg>
      <h3 class="box__title">Make them mobile friendly</h3>
      <div class="box__content">Every good website should be just as beautiful and easy to read on smaller screen sizes as it is on bigger ones. We ensure this with every website we design.</div>
    </div>
    <div class="box">
      <svg class="box__icon">
        <use xlink:href="assets/icons/sprite.svg#icon-sphere"></use>
      </svg>
      <h3 class="box__title">Deploy them to your domain</h3>
      <div class="box__content">The domain name is a very important part of a website. We can do all the work involved with deploying the website to the “world wide web” so anyone can access it via your domain.</div>
    </div>
    <div class="box">
      <svg class="box__icon">
        <use xlink:href="assets/icons/sprite.svg#icon-database"></use>
      </svg>
      <h3 class="box__title">Index them on Google</h3>
      <div class="box__content">What’s the good of a website if people cannot find it on their browser? We can ensure the website is indexed and connect it to Google Analytics so you know everything about your online audience.</div>
    </div>
    <div class="box">
      <svg class="box__icon">
        <use xlink:href="assets/icons/sprite.svg#icon-network"></use>
      </svg>
      <h3 class="box__title">Ensure multi browser support</h3>
      <div class="box__content">Some browsers handle website styling code differently. When we design websites we ensure the website is just as beautiful across all the major browsers.</div>
    </div>
  </div>
</section>
