@import "main";

.section-hero {
  height: 100vh;
  background-color: $color-white;
  position: relative;
  overflow: hidden;

  &__circle {
    width: 60rem;
    height: 57rem;
    background-color: $color-primary;
    opacity: 40%;
    position: absolute;
    bottom: -10rem;
    right: -10rem;
    border-radius: 100%;

    animation: hero-circle 90s infinite;
    animation-timing-function: linear;

    @include respond(phone) {
      right: -30rem;
    }
  }
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);


  color: $color-grey;

  @include respond(phone) {
    top: 40%;
    left: 0%;
    width: 100%;
  }

  &__primary {
    font-size: 9rem;
    font-weight: 500;

    // transform: translateX(-100%);
    opacity: 0;
    animation: primary-header 1.5s ease-out;
    animation-fill-mode: forwards;


    @include respond(phone) {
      font-size: 4.5rem;
      text-align: center;
    }
  }
  &__secondary {
    font-size: 6.5rem;
    font-weight: 200;
    padding-top: 1.5rem;

    // transform: translateX(-100%);
    opacity: 0;

    animation: primary-header 1s cubic-bezier(.18,.46,.43,.97);
    animation-delay: 1.5s;
    animation-fill-mode: forwards;


    @include respond(phone) {
      font-size: 4rem;
      text-align: center;
    }
  }



}

.hero-arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  animation: pulse 4s infinite, hero-icon 2s ease-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;

  &__icon {
    width: 7rem;
    height: 7rem;
    fill: $color-primary;
  }
}


