<header>
  <div class="navigation">
    <div class="logo">IkeHunter Web Development</div>
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Projects</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
    </ul>
  </div>

  <div class="hero-text">
    <h1 class="hero-text__primary">We design websites,</h1>
    <h2 class="hero-text__secondary">among other things.</h2>
  </div>
  <div class="hero-arrow">
    <svg class="hero-arrow__icon">
      <use xlink:href="assets/icons/sprite.svg#icon-arrow-down2"></use>
    </svg>
  </div>


</header>
