@import "main";

.hero {
  height: 100vh;
  background-color: $color-white;
  position: relative;
  overflow: hidden;

  &__circle {
    width: 60rem;
    height: 57rem;
    background-color: $color-primary;
    opacity: 40%;
    position: absolute;
    bottom: -10rem;
    right: -10rem;
    border-radius: 100%;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  padding: 2rem 6rem;

  &__logo {
    font-size: 2.5rem;
    color: $color-grey;
    position: relative;

    &:after {
      content: "";
      display: block;
      border-bottom: 3px solid $color-primary;
      border-radius: 100px;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    list-style-type: none;

    & > * {
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }

  &__item {
    position: relative;


    &:after {
      content: "";
      display: block;
      border-bottom: 2.5px solid $color-primary;

      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;

      transition: width .4s;
    }

    &:hover{
      &:after {
        width: 100%;
      }
    }

    &--link {
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-grey;
        font-size: 2.2rem;
      }
    }
  }

}

.hero-text {
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);

  color: $color-grey;
  font-family: 'Inter', sans-serif;
  letter-spacing: .15rem;


  &__primary {
    font-size: 9rem;
    font-weight: 500;
  }
  &__secondary {
    font-size: 6.5rem;
    font-weight: 200;
    padding-top: 1.5rem;
  }
}

.hero-arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  &__icon {
    width: 7rem;
    height: 7rem;
    fill: $color-primary;
  }
}


