<header class="hero">
  <div class="navigation">
    <div class="navigation__logo">IkeHunter Web Development</div>
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#" class="navigation__item--link">About</a></li>
      <li class="navigation__item"><a href="#" class="navigation__item--link">Projects</a></li>
      <li class="navigation__item"><a href="#" class="navigation__item--link">Contact</a></li>
    </ul>
  </div>

  <div class="hero-text section-title">
    <h1 class="hero-text__primary">We design websites,</h1>
    <h2 class="hero-text__secondary">among other things.</h2>
  </div>
  <div class="hero-arrow">
    <svg class="hero-arrow__icon">
      <use xlink:href="assets/icons/sprite.svg#icon-chevron-thin-down"></use>
    </svg>
  </div>

  <span class="hero__circle">&nbsp;</span>

</header>
