<section class="section-projects">
  <h1 class="section-projects__title">Portfolio</h1>
  <div class="section-projects__grid">

    <div class="project">
      <div class="project__box">
        <a href="https://coffee.ikehunter.com" class="project__link" target="_blank">
        <div class="project__popup">
          <svg class="project__popup--icon">
            <use xlink:href="assets/icons/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </div>
        <img src="assets/img/mountain-coffee.jpg" alt="Mountain Coffee" class="project__img">
        <div class="project__title">
          <h3 class="project__title--text">Mountain Coffee</h3>
        </div>
      </a>
      </div>
      <div class="project__info">Personal Project, 2021</div>
    </div>

    <div class="project">
      <div class="project__box">
        <a href="https://natours.ikehunter.com" class="project__link"  target="_blank">
        <div class="project__popup">
          <svg class="project__popup--icon">
            <use xlink:href="assets/icons/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </div>
        <img src="assets/img/natours.jpg" alt="Natours" class="project__img">
        <div class="project__title">
          <h3 class="project__title--text">Natours</h3>
        </div>
      </a>
      </div>
      <div class="project__info">Personal Project, 2020</div>
    </div>

    <div class="project">
      <div class="project__box">
        <a href="http://operationcatsniptc.com/" class="project__link" target="_blank">
        <div class="project__popup">
          <svg class="project__popup--icon">
            <use xlink:href="assets/icons/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </div>
        <img src="assets/img/catsnip.jpeg" alt="Operation Catsnip" class="project__img">
        <div class="project__title">
          <h3 class="project__title--text">Operation Catsnip</h3>
        </div>
        </a>
      </div>
      <div class="project__info">Local non-profit, 2019</div>
    </div>










  </div>
</section>
