<section class="section-projects" id="portfolio">
  <h1 class="section-projects__title">Portfolio</h1>
  <div class="section-projects__subtitle">A collection of websites I have worked on</div>
  <div class="section-projects__grid">

    <div class="project" *ngFor="let project of projects">
      <div class="project__box">
        <a href="{{ project.link }}" class="project__link" target="_blank">
        <div class="project__popup">
          <svg class="project__popup--icon">
            <use xlink:href="assets/icons/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </div>
        <img src="{{ project.imagePath }}" alt="{{ project.title }}" class="project__img">
        <div class="project__title">
          <h3 class="project__title--text">{{ project.title }}</h3>
        </div>
        </a>
      </div>
      <div class="project__info">{{ project.info }}</div>
    </div>


  </div>
  <span class="section-projects__circle">&nbsp;</span>
</section>
