<section class="projects">
  <h1 class="section-title title">Projects</h1>
  <div class="projects-grid">
    <div class="project">
      <div class="project__square">
        <a href="#" class="project__link">&nbsp;</a>
        <div class="project__title">Mountain Coffee</div>
      </div>
      <div class="project__info">Personal Project, 2021</div>
    </div>
    <div class="project">
      <div class="project__square">
        <a href="#" class="project__link">&nbsp;</a>
        <div class="project__title">Natours</div>
      </div>
      <div class="project__info">Personal Project, 2020</div>
    </div>
    <div class="project">
      <div class="project__square">
        <a href="#" class="project__link">&nbsp;</a>
        <div class="project__title">Operation Catsnip</div>
      </div>
      <div class="project__info">Local non-profit, 2019</div>
    </div>
  </div>
</section>
