<section class="section-contact" id="contact">
  <div class="section-contact__container">
    <div class="section-contact__text">
      <h1 class="section-contact__text--h1">Let's get in touch</h1>
    </div>
    <div class="section-contact__card">
      <div class="section-contact__card__container">
        <h2 class="section-contact__card--text">Contact me at</h2>
        <div class="section-contact__card__email-block">
          <!-- <span class="section-contact__card--email">welcome@ikehunter.com</span> -->
          <a class="section-contact__card--email" href="mailto:isaachunter@ikehunter.com?">
            isaachunter@ikehunter.com
          </a>
          <svg class="section-contact__card--icon">
            <use xlink:href="assets/icons/sprite.svg#icon-chevron-right"></use>
          </svg>
        </div>
      </div>

      <div class="section-contact__card__container">
        <h2 class="section-contact__card--text">Schedule a meeting</h2>
        <div class="section-contact__card__email-block">
          <!-- <span class="section-contact__card--email">welcome@ikehunter.com</span> -->
          <a class="section-contact__card--email" target="_blank" href="https://calendly.com/ikehunter/consultation">
            Book with Calendly
          </a>
          <svg class="section-contact__card--icon">
            <use xlink:href="assets/icons/sprite.svg#icon-chevron-right"></use>
          </svg>
        </div>
      </div>

    </div>

  </div>

  <footer class="footer">
    <div class="footer__container">
      <a target="_blank" href="https://www.facebook.com/IkeWebDev" class="footer__container--link">Facebook</a>
      <a target="_blank" href="https://www.instagram.com/ikewebdev/" class="footer__container--link">Instagram</a>
      <a target="_blank" href="https://www.linkedin.com/in/ikehunter/" class="footer__container--link">LinkedIn</a>
      <a target="_blank" href="https://github.com/IkeHunter" class="footer__container--link">GitHub</a>
    </div>
    <span class="footer__copyright">&copy; Copyright IkeHunter Web Development LLC, All Rights Reserved</span>
  </footer>
</section>
