<section class="section-contact">
  <div class="section-about__container">
    <div class="section-about__text">
      <h1 class="section-about__text--h1">Let's make a website</h1>
    </div>
    <div class="section-about__card">
      <h2 class="section-about__card--text">Contact us at</h2>
      <span class="section-about__card--email">welcome@ikehunter.com</span>
      <svg class="hero-arrow__icon">
        <use xlink:href="assets/icons/sprite.svg#icon-chevron-right"></use>
      </svg>
    </div>
  </div>

  <div class="footer">
    <div class="footer__container"><a href="#" class="footer__container--link">Facebook</a><a href="#" class="footer__container--link">Instagram</a><a href="#" class="footer__container--link">Upwork</a><a href="#" class="footer__container--link">GitHub</a></div>
    <span class="footer__copyright">Copyright &copy;IkeHunter Web Development LLC</span>
  </div>
</section>
