<section class="section-contact">
  <div class="section-contact__container">
    <div class="section-contact__text">
      <h1 class="section-contact__text--h1">Let's make a website</h1>
    </div>
    <div class="section-contact__card">
      <div class="section-contact__card__container">
        <h2 class="section-contact__card--text">Contact us at</h2>
        <div class="section-contact__card__email-block">
          <!-- <span class="section-contact__card--email">welcome@ikehunter.com</span> -->
          <a class="section-contact__card--email" href="mailto:contact@ikehunter.com?subject=New Website Request">
            contact@ikehunter.com
          </a>
          <svg class="section-contact__card--icon">
            <use xlink:href="assets/icons/sprite.svg#icon-chevron-right"></use>
          </svg>
        </div>


      </div>

    </div>
  </div>

  <footer class="footer">
    <div class="footer__container">
      <a href="#" class="footer__container--link">Facebook</a>
      <a href="#" class="footer__container--link">Instagram</a>
      <a href="#" class="footer__container--link">Upwork</a>
      <a href="#" class="footer__container--link">GitHub</a>
    </div>
    <span class="footer__copyright">Copyright &copy;IkeHunter Web Development LLC</span>
  </footer>
</section>
