<section class="section-personal" id="about">
  <span class="section-personal__circle">&nbsp;</span>
  <div class="section-personal__container">
    <div class="title">
      <h1 class="title__text section-title">About Us</h1>
      <img src="assets/img/face.PNG" alt="emoji face" class="title__img">
    </div>
    <div class="content">
      <p class="content__text">Hello, I’m Ike! At IkeHunter Web Development we create and design websites to meet the needs of your business - whether they be simple Wordpress templates or fully customized themes that make a statement about your brand. All of our websites are built for the modern web and implement industry standard features like responsive design, SEO, CMS, and cross browser support.</p>
    </div>
  </div>
</section>
