<section class="section-personal" id="about">
  <span class="section-personal__circle">&nbsp;</span>
  <div class="section-personal__container">
    <div class="title">
      <h1 class="title__text section-title">About Me</h1>
      <img src="assets/img/face.PNG" alt="emoji face" class="title__img">
    </div>
    <div class="content">
      <p class="content__text">Hello! My name is Isaac Hunter and I am a web developer based in Florida. Building websites has been a passion of mine for the past 5 years, and I am fairly well versed in front end and back end web development. I have taken multiple online and in-person classes to strengthen my skills in various programming languages and techniques.</p>
    </div>
  </div>
</section>
