<section class="section-personal" id="about">
  <span class="section-personal__circle">&nbsp;</span>
  <div class="section-personal__container">
    <div class="title">
      <h1 class="title__text section-title">About Me</h1>
      <img src="assets/img/face-4.jpg" alt="emoji face" class="title__img">
    </div>
    <div class="content">
      <p class="content__text">Hello, I’m Isaac! Whether they be simple Wordpress templates or fully customized themes to make a statement about your brand, I always strive to go above and beyond with what I do. All of the websites I create are built for the modern web and implement industry standard features like responsive design, SEO, CMS, and cross browser support.</p>
      <a class="section-personal__container__btn" href="{{ resumeLink }}" target='__blank'>
        <span>View Resume</span>
        <svg class="section-personal__container__btn--icon">
          <use xlink:href="assets/icons/sprite.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>

  </div>
</section>
