@keyframes pulse {
  0%, 80%, 100% {
    transform: translate(-50%, -50%);
  }

  40% {
    transform: translate(-50%, -35%);
  }
}

@keyframes primary-header {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hero-circle {
  0%, 100% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(-12%, -12%);
  }
  33% {
    transform: translate(0%, -24%);
  }
  66% {
    transform: translate(-10%, 10%);
  }

}

@keyframes about-circle {
  0%, 100% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(12%, 12%);
  }
  33% {
    transform: translate(0%, 19%);
  }
  66% {
    transform: translate(15%, -5%);
  }
}

@keyframes hero-icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
